
 body {
     background-color: rgba(108, 108, 187, 0.445);
 }

 header {
     background-color: rgb(172, 158, 158);
     text-align: center;
     padding: 20px 0;
     margin-bottom: 20px;
     border: 1px solid black;
 }
 
 div {
     background-color: palevioletred;
     padding: 15px;
     border: 2px solid black;
     width: 60%;
     margin-left: 30px;
     position: sticky;
     top: 15px;
 }


li::before {
    content: '\2706';
}

ul {
    
    border: 1px solid black;
    list-style: none;
    width: 70%;
    margin-left: 15px;
    
}

ul li {
    font-size: 20px;
}

















